<h1><%= @user %></h1>

<%= @user.cars.each do |car| %>
  <li><%= car.color %></li>
  <li><%= car.make %></li>
  <li><%= car.model %></li>
  <li><%= car.year %></li>
  <%= link_to "Edit Car", edit_car_path(car) %>
<%end%>

<%= if user_signed_in? %>
<%= link_to "Add Car", new_car_path(@user) %>
